* {
	margin: 0;
	padding: 0;
}

.unselectable {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#wrapper {
	height: 100vh;
	position: relative;

	.login {
		box-shadow: 0px 1px 20px 0px lightseagreen;

		position: absolute;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%);

		.container {
			form {
				display: flex;
				flex-direction: column;
				gap: 20px;
				padding: 20px;

				min-width: 400px;

				font-size: 1.2rem;

				input {
					height: 25px;
					padding: 5px 15px;
					font-size: 1rem;
					border-radius: 0px;
					transition: border 0.01s;
					border: 1px solid #ccc;
				}

				.input-error {
					transition: border 0.1s;
					border: 2px solid red;
				}

				.username-box {
					display: flex;
					flex-direction: column;
					gap: 10px;

					.username-error-msg {
						display: none;
						color: red;
						font-size: 1rem;
						align-self: flex-end;
					}
				}

				.password-box {
					display: flex;
					flex-direction: column;
					gap: 10px;

					.password-error-msg {
						display: none;
						color: red;
						font-size: 1rem;
						align-self: flex-end;
					}
				}

				.terms-and-conditions-box {
					display: flex;
					flex-direction: column;

					.terms-and-conditions-container {
						display: flex;
						justify-content: center;
						align-items: center;
						gap: 10px;

						font-size: 1.1rem;

						input {
							width: 15px;
						}

						label,
						input {
							cursor: pointer;
						}
					}

					.terms-error-msg-box {
						align-self: center;

						.terms-error-msg {
							display: none;
							color: red;
							font-size: 1rem;
						}
					}
				}

				.login-btn-box {
					display: flex;
					justify-content: center;

					#login-btn {
						font-family: Georgia, serif;
						cursor: pointer;
						font-size: 1.3rem;
						padding: 7px 15px;

						background-color: lightseagreen;
						border: none;
						border-radius: 8px;
						color: white;

						transition: all 0.3s;

						&:hover {
							// box-shadow: 0px 1px 20px -5px rgb(90, 90, 90);
							color: rgb(70, 70, 70);
							text-shadow: 1px 1px 10px #ffffff;
						}
					}
				}
			}
		}
	}
}
